<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SUT</title>
</head>
<body>
<h1>Spring MVC test app</h1>
<h2>Triangle classification</h2>
<h2>Enter side values:</h2>
<form action="/process" method="post">
    <label for="a">Side A:</label>
    <input type="text" id="a" name="a" required><br><br>

    <label for="b">Side B:</label>
    <input type="text" id="b" name="b" required><br><br>

    <label for="c">Side C:</label>
    <input type="text" id="c" name="c" required><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>
